{% extends 'common/layout.html.twig' %}


<a href="https://www.facebook.com/sharer/sharer.php?app_id=272771746485230&sdk=joey&u=aaaaaaaaaaaaa&display=popup&ref=plugin&src=share_button" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')" class="btn bee_btn_small"  style="margin-bottom: 15px"><i class="fa fa-facebook"></i> Share on Facebook</a>


<a href="https://twitter.com/intent/tweet?status=ssssssss"  class="btn bee_btn_small" style="margin-bottom: 15px"><i class="fa fa-twitter"></i> Share on Twitter</a>
                                                           

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
var abc=$.noConflict();

abc(document).ready(function() {



} );

</script>

{% endblock content %}
