.button {
  display: inline-block;
  color: #fff;
  background-color: #df6c57;
  border-radius: 3px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  padding: 0 8px;
  border: 1px solid #df6c57;
  text-align: center;
}

.button:hover, .button:active, .nav-button:hover, .nav-button:active {
  background-color: #a65041;
  border-color: #a65041;
}

.button.button-small {
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  padding: 4px;
}

.link {
  text-decoration: underline;
}

.nav-button {
  background-color: #df6c57;
  color: #fff;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  border: none;
  border-radius: 0 5px 0 5px;
  padding: 0 5px;
  box-shadow: 0 1px 1px 0 rgba(255,255,255,.5) inset, -1px 0 1px 0 rgba(0,0,0,.1) inset;
  -webkit-appearance: none;
}

.BtnCBOrangeRBg {
  background: url('../images/CashBackBtR.gif') no-repeat;
}

.BtnCBOrangeBg {
  background: url('../images/CashBackBt.gif') no-repeat;
}

div.BtnSaveChangesBg input {
  cursor: pointer;
  width: 98px;
  font-size: 10px;
  height: 32px;
}

div.BtnLogInBg input {
  cursor: pointer;
  width: 88px;
  height: 30px;
  border: none;
}
div.BtnLogInRBg input {
  background: url('../images/BtnLogInR.gif') no-repeat;
  cursor: pointer;
  width: 88px;
  height: 30px;
  border: none;
}

div.BtnSignUpBg input {
  background: url('../images/BtnSignUp.gif') no-repeat;
  cursor: pointer;
  width: 88px;
  height: 30px;
  border: none;
}
div.BtnSignUpRBg input {
  background: url('../images/BtnSignUpR.gif') no-repeat;
  cursor: pointer;
  width: 88px;
  height: 30px;
  border: none;
}

.BtnSlideSignUpBg {
  cursor: pointer;
  width: 120px;
  height: 41px;
  border: none;
  border-radius: 0 10px 0 10px;
  background-color: #df6c57;
  color: #fff;
  font-size: 20px;
  line-height: 41px;
  text-align: center;
}

.BtnSlideSignUpRBg {
  background: url('../images/BtnSlideSignUpR.gif') no-repeat;
  cursor: pointer;
  width: 120px;
  height: 41px;
  border: none;
}

div.BtnSendMessageBg input {
  background: url('../images/BtnSendMessage.gif') no-repeat;
  cursor: pointer;
  width: 120px;
  height: 41px;
  border: none;
}
div.BtnSendMessageRBg input {
  background: url('../images/BtnSendMessageR.gif') no-repeat;
  cursor: pointer;
  width: 120px;
  height: 41px;
  border: none;
}

div.BtnStartSavingBg input {
  cursor: pointer;
  width: 115px;
}

div.BtnSendPasswordBg input {
  background: url('../images/BtnSendPassword.gif') no-repeat;
  cursor: pointer;
  width: 130px;
  height: 30px;
  border: none;
}
div.BtnSendPasswordRBg input {
  background: url('../images/BtnSendPasswordR.gif') no-repeat;
  cursor: pointer;
  width: 130px;
  height: 30px;
  border: none;
}
.BtnRequestGrayBg {
  background: url('../images/BtnRequestGrayBg.gif') no-repeat;
}
.BtnRequestGrayRBg {
  background: url('../images/BtnRequestGrayRBg.gif') no-repeat;
}

.BtnGetStartedBg {
  background: url('../images/BtnGetStartedBg.gif') no-repeat;
  width: 71px;
  height: 24px;
  border: 2px solid #00f;
}
.BtnGetStartedRBg {
  background: url('../images/BtnGetStartedRBg.gif') no-repeat;
  width: 71px;
  height: 24px;
}

.BtnDownloadBg {
  background: url('../images/BtnPreviewBg.gif') no-repeat;
  width: 71px;
  height: 24px;
}
.BtnDownloadRBg {
  background: url('../images/BtnPreviewRBg.gif') no-repeat;
  width: 71px;
  height: 24px;
}

.CashBack-value {
  color: #000;
  font-size: 13px;
  height: 50px;
  letter-spacing: 0;
  width: 48px;
  font-weight: bolder;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.ShopCashBack-Bt {
  float: right;
  width: 169px;
  height: 41px;
  display: block;
  cursor: pointer;
  margin-top: 17px;
}
.ShopStore-Bt {
  float: right;
  width: 100px;
  height: 41px;
  display: block;
  cursor: pointer;
  margin-top: 25px;
  border: 0 solid #000;
  position: relative;
}
.ShopNow-Bt {
  float: left;
  width: 100px;
  height: 41px;
  display: block;
  cursor: pointer;
  margin-top: 17px;
}
.CashBack-Bt1 {
  float: left;
  width: 108px;
  height: 50px;
  cursor: pointer;
  margin-top: 17px;
  border: 0 solid #000;
}
.CashBack-Bt {
  position: absolute;
  float: left;
  width: 108px;
  height: 50px;
  cursor: pointer;
  margin-top: 17px;
  border: 0 solid #000;
}
.ClickToCopyCode-Bt {
  float: right;
  width: 125px;
  height: 32px;
  display: block;
  cursor: pointer;
  border: 0 solid #000;
}
.BannerClickCode {
  position: relative;
  float: center;
  width: 140px;
  height: 31px;
  display: block;
  cursor: pointer;
  border: 0 solid #090;
  margin-top: 5px;
}
.nav-ShopByStore-Bt {
  float: left;
  margin: 5px 0 0 20px;
  display: block;
  cursor: pointer;
}
.nav-FindCoupons-Bt {
  float: left;
  margin: 5px 0 0 5px;
  display: block;
  cursor: pointer;
}



.BtnGrayBg {
  background: #fff url('../images/BtnGrayBg.gif') repeat-x top left;
  border-radius: 7px;
  behavior: url(border-radius.htc);
}
a.BtnWhiteTxt {
  color: #fff;
  font-size: 8pt;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  font-weight: bolder;
  z-index: 1;
  position: relative;
}

#newsletter a.BtnGetStartedTxt {
  color: #000;
  font-size: 1.5em;
  height: 40px;
  line-height: 38px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: bolder;
  z-index: 1;
  position: relative;
  border: 0 solid #000;
}

a.BtnCBBlackTxt {
  font-size: 11pt;
  font-weight: bolder;
  position: relative;
}

.BtnClickCode {
  font-weight: bold;
  width: 130px;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  height: 30px;
}

.BtnClickCode1 {
  font-weight: bold;
  width: 130px;
  text-align: center;
  margin-left: 0;
  margin-top: 20px;
  height: 30px;
}

.BtnShopNow {
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-right: 10px;
  margin-top: 0;
  height: 30px;
  float: right;
}
.BtnShopNowSep {
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  height: 30px;
  float: left;
  border: 0 solid #03f;
}

.BtnShopNowDeals {
  font-weight: bold;
  width: 100px;
  text-align: center;
  margin-right: 25px;
  margin-top: 0;
  height: 30px;
  float: right;
  border: 0 solid #03f;
}

.BtnComparePrice {
  font-weight: bold;
  width: 110px;
  text-align: center;
  margin-left: 5px;
  height: 30px;
  display: block;
}

.BtnSaveChanges {
  border: 0 solid #00f;
  float: right;
  margin-top: 0;
}

.BtnLogIn {
  border: 0 solid #00f;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.BtnSendPassword {
  border: 0 solid #00f;
  float: right;
  margin-top: 10px;
  margin-right: 0;
}
.BtnHeaderLogIn {
  border: 0 solid #00f;
  float: right;
  margin-top: 0;
  margin-right: 3px;
}

.BtnStartSaving {
  border: 0 solid #00f;
  float: right;
  margin-top: 10px;
  margin-right: 0;
}

.BtnSignUp {
  border: 0 solid #00f;
  float: right;
  margin-top: 10px;
  margin-right: 0;
}

.BtnSendMessage {
  border: 0 solid #00f;
  float: right;
  margin-top: 10px;
  margin-right: 0;
}

.BtnSlideSignUp {
  border: 0 solid #00f;
  float: right;
  margin-top: 0;
  margin-right: 0;
}

.BtnRequest {
  border: 0 solid #00f;
  float: left;
  margin-top: 10px;
  width: 150px;
  height: 40px;
  margin-left: 28%;
}

.BtnPreiview {
  float: left;
  width: 71px;
  height: 24px;
  display: block;
  cursor: pointer;
  margin-top: 5px;
  border: 0 solid #090;
}

.BtnGetStarted {
  float: left;
  width: 129px;
  height: 40px;
  display: block;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  border: 0 solid #090;
}

.BtnPreiviewBanner {
  float: center;
  width: 71px;
  height: 24px;
  display: block;
  cursor: pointer;
  border: 0 solid #090;
}
.BtnDownload {
  float: right;
  width: 71px;
  height: 24px;
  display: block;
  cursor: pointer;
  margin-top: 5px;
  border: 0 solid #090;
}

.Preiview {
  float: left;
}

.Download {
  float: right;
}
