.BtnOrangeBg {
		background: url('../images/btn-compare-prices.gif') no-repeat;
		}

.BtnOrangeRBg{
	background: url('../images/btn-compare-pricesR.gif') repeat-x top left;
    }


.BtnSBSOrangeBg{
		background: url('../images/shopbystoreBt.gif') no-repeat;
	} 


.BtnSBSOrangeRBg{
background: url('../images/shopbystoreBtR.gif') no-repeat;
	} 


.BtnFCOrangeBg{
		background: url('../images/FindCouponsBt.gif') no-repeat;
	} 


.BtnFCOrangeRBg{
background: url('../images/FindCouponsBtR.gif') no-repeat;
	} 
	
.BtnCTCCOrangeBg{
		background: url('../images/ClickToCopyCodeBt.gif') no-repeat;
	} 

.BtnCTCCOrangeRBg{
background: url('../images/ClickToCopyCodeBtR.gif') no-repeat;
	} 
	
.BtnCBOrangeRBg{
background: url('../images/CashBackBtR.gif') no-repeat;
	} 
	
	.BtnCBOrangeBg{
		background: url('../images/CashBackBt.gif') no-repeat;
	} 
.BtnSNOrangeRBg{
background: url('../images/ShopNowBtR.gif') no-repeat;
	} 
	
	.BtnSNOrangeBg{
		background: url('../images/ShopNowBt.gif') no-repeat;
	}
	
	.BtnSSOrangeRBg{ background: url('../images/ShopNowBtR.gif') no-repeat; } 
	
	.BtnSSOrangeBg{	background: url('../images/ShopNowBt.gif') no-repeat; }
	
		.BtnSCBOrangeRBg{ background: url('../images/ShopCashBackBtR.gif') no-repeat; } 
	
	.BtnSCBOrangeBg{	background: url('../images/ShopCashBackBt.gif') no-repeat; }

	div.BtnSaveChangesBg input{
		background: url('../images/BtnSaveChangesBg.gif') no-repeat;cursor:pointer; width: 98px; height: 30px; border: none; 
		}
		div.BtnSaveChangesRBg input{
		background: url('../images/BtnSaveChangesRBg.gif') no-repeat;cursor:pointer; width: 98px; height: 30px; border:none;
		}
		
		div.BtnLogInBg input{
		background: url('../images/BtnLogIn.gif') no-repeat;cursor:pointer; width: 88px; height: 30px; border: none; 
		}
		div.BtnLogInRBg input{
		background: url('../images/BtnLogInR.gif') no-repeat;cursor:pointer; width: 88px; height: 30px; border:none;
		}
		
		div.BtnSignUpBg input{
		background: url('../images/BtnSignUp.gif') no-repeat;cursor:pointer; width: 88px; height: 30px; border: none; 
		}
		div.BtnSignUpRBg input{
		background: url('../images/BtnSignUpR.gif') no-repeat;cursor:pointer; width: 88px; height: 30px; border:none;
		}
		
			.BtnSlideSignUpBg {	background: url('../images/BtnSlideSignUp.gif') no-repeat;cursor:pointer; width: 120px; height: 41px; border: none; 
		}
		
		.BtnSlideSignUpRBg{	background: url('../images/BtnSlideSignUpR.gif') no-repeat;cursor:pointer; width: 120px; height: 41px; border:none;
		}
		
						div.BtnSendMessageBg input{
		background: url('../images/BtnSendMessage.gif') no-repeat;cursor:pointer; width: 120px; height: 41px; border: none; 
		}
		div.BtnSendMessageRBg input{
		background: url('../images/BtnSendMessageR.gif') no-repeat;cursor:pointer; width: 120px; height: 41px; border:none;
		}
		
				div.BtnStartSavingBg input{
		background: url('../images/BtnStartSaving.gif') no-repeat;cursor:pointer; width: 115px; height: 30px; border: none; 
		}
		div.BtnStartSavingRBg input{
		background: url('../images/BtnStartSavingR.gif') no-repeat;cursor:pointer; width: 115px; height: 30px; border:none;
		}
		
						div.BtnSendPasswordBg input{
		background: url('../images/BtnSendPassword.gif') no-repeat;cursor:pointer; width: 130px; height: 30px; border: none; 
		}
		div.BtnSendPasswordRBg input{
		background: url('../images/BtnSendPasswordR.gif') no-repeat;cursor:pointer; width: 130px; height: 30px; border:none;
		}
		.BtnRequestBg{	background: url('../images/BtnRequestBg.gif') no-repeat;}
		.BtnRequestRBg {	background: url('../images/BtnRequestRBg.gif') no-repeat;}
		
		.BtnRequestGrayBg{	background: url('../images/BtnRequestGrayBg.gif') no-repeat;}
		.BtnRequestGrayRBg {	background: url('../images/BtnRequestGrayRBg.gif') no-repeat;}
		
		.BtnPreviewBg{	background: url('../images/BtnPreviewBg.gif') no-repeat; width:129px;height:40px; border:2px solid #00F;}
		.BtnPreviewRBg {	background: url('../images/BtnPreviewRBg.gif') no-repeat;width:129px;height:40px;}
		
		.BtnGetStartedBg{	background: url('../images/BtnGetStartedBg.gif') no-repeat; width:71px;height:24px; border:2px solid #00F;}
		.BtnGetStartedRBg {	background: url('../images/BtnGetStartedRBg.gif') no-repeat;width:71px;height:24px;}

		.BtnDownloadBg{	background: url('../images/BtnPreviewBg.gif') no-repeat; width:71px;height:24px;}
		.BtnDownloadRBg {	background: url('../images/BtnPreviewRBg.gif') no-repeat;width:71px;height:24px;}
		
.CashBack-value {
	color:#000;
	font-size:13px;
	height:33px;
	letter-spacing:0px;
	line-height:40px;
	width:43px;
	font-weight:bolder;
	text-align:center;
	display: block;
	border:0px solid #0F0;
}
.ShopCashBack-Bt {float:right; width:169px;height:41px;display:block;cursor:pointer;margin-top:17px;}
.ShopStore-Bt {float:right; width:100px;height:41px;display:block;cursor:pointer;margin-top:25px;}
.ShopNow-Bt {float:left; width:100px;height:41px;display:block;cursor:pointer;margin-top:17px;}
.CashBack-Bt {float:left; width:100px;height:41px;display:block;cursor:pointer;margin-top:17px;}
.ClickToCopyCode-Bt {float:right; width:125px;height:30px;display:block;cursor:pointer;margin-top:25px;}
.BannerClickCode {float:center; width:140px;height:31px;display:block;cursor:pointer;border:0px solid #090;margin-top:5px;}
.nav-ShopByStore-Bt {float:left; width:114px;height:30px;margin:5px 0 0 20px;display:block;cursor:pointer;}
.nav-FindCoupons-Bt {float:left; width:100px;height:30px;margin:5px 0 0 -5px;display:block;cursor:pointer;}



.BtnGrayBg {
	background: #fff url('../images/BtnGrayBg.gif') repeat-x top left;
 	-moz-border-radius: 7px;
	-webkit-border-radius:7px;		
	border-radius: 7px;
	behavior: url(border-radius.htc);
}
a.BtnBlackTxt {

	color:#000;
	font-size:8pt;
	height:30px;
	line-height:30px;
	text-align:center;
	display:block;
	font-weight:bolder;
	z-index:1;
	position:relative;
}
a.BtnRequestTxt {

	color:#000;
	font-size:1.2em;
	height:30px;
	line-height:40px;
	text-align:center;
	display:block;
	font-weight:bolder;
	z-index:1;
	position:relative;
}
a.BtnWhiteTxt {

	color:#FFF;
	font-size:8pt;
	height:30px;
	line-height:30px;
	text-align:center;
	display:block;
	font-weight:bolder;
	z-index:1;
	position:relative;
}

a.BtnPreviewTxt {

	color:#000;
	font-size:8pt;
	height:30px;
	line-height:25px;
	text-align:center;
	display:block;
	font-weight:bolder;
	z-index:1;
	position:relative;
}

#newsletter a.BtnGetStartedTxt {
	color:#000;
	font-size:1.5em;
	height:40px;
	line-height:38px;
	text-align:center;
	display:block;
	text-decoration:none;
	font-weight:bolder;
	z-index:1;
	position:relative;
	border:0px solid #000;
	
}

a.BtnCBBlackTxt {
	color:#000;
	font-size:11pt;
	height:30px;
	line-height:34px;
	text-align:center;
	display:block;
	font-weight:bolder;
	z-index:1;
	position:relative;

}

.BtnClickCode{
	font-weight:bold;
	width:130px;
	text-align:center;
	margin-left:0px;
	margin-top:0px;
	height:30px;
}

.BtnClickCode1{
	font-weight:bold;
	width:130px;
	text-align:center;
	margin-left:0px;
	margin-top:20px;
	height:30px;
}

.BtnShopNow{
	font-weight:bold;
	width:100px;
	text-align:center;
	margin-right:10px;
	margin-top:0px;
	height:30px;
	float:right;
} 
.BtnShopNowSep{
	font-weight:bold;
	width:100px;
	text-align:center;
	margin-left:0px;
	margin-top:0px;
	height:30px;
	float:left;
	border:0px solid #03F;
} 

.BtnShopNowDeals{
	font-weight:bold;
	width:100px;
	text-align:center;
	margin-right:25px;
	margin-top:0px;
	height:30px;
	float:right;
	border:0px solid #03F;
} 

.BtnComparePrice{
	font-weight:bold;
	width:110px;
	text-align:center;
	margin-left:5px;
	height:30px;
	display:block;
	} 

.BtnSaveChanges{
border:0px solid #00F;float:right;margin-top:0px;
	}
	
.BtnLogIn{
border:0px solid #00F;float:right;margin-top:10px;margin-right:10px;
	}
	.BtnSendPassword{
border:0px solid #00F;float:right;margin-top:10px;margin-right:0px;
	}
	.BtnHeaderLogIn{
border:0px solid #00F;float:right;margin-top:0px;margin-right:3px;
	}

.BtnStartSaving{
border:0px solid #00F;float:right;margin-top:10px;margin-right:0px;
	}
	
.BtnSignUp{
border:0px solid #00F;float:right;margin-top:10px;margin-right:0px;
	}

.BtnSendMessage{
border:0px solid #00F;float:right;margin-top:10px;margin-right:0px;
	}
	
.BtnSlideSignUp{
border:0px solid #00F;float:right;margin-top:0px;margin-right:0px;
	}
	
.BtnRequest{
border:0px solid #00F;float:left;margin-top:10px;width:150px;height:40px;margin-left:28%;
	}
		
.BtnPreiview{
float:left; width:71px;height:24px;display:block;cursor:pointer;margin-top:5px;border:0px solid #090;
	}
	
	.BtnGetStarted{
float:left; width:129px;height:40px;display:block;cursor:pointer;margin-top:5px;margin-left:10px;border:0px solid #090;
	}
	
.BtnPreiviewBanner{
float:left; width:71px;height:24px;display:block;cursor:pointer;margin-left:50px;margin-top:5px;border:0px solid #090;
	}	
.BtnDownload{
float:right; width:71px;height:24px;display:block;cursor:pointer;margin-top:5px;border:0px solid #090;
	}
.Preiview{
float:left;	
}

.Download{
float:right;	
}
