body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

a { text-decoration:none; outline:0; }
body {
	background:#e6e7e5 url('../images/global-bg.gif')  repeat-x top;
    color: #252525;	
	font-family: Arial, sans serif;
    font-size: 10px !important;
    font-size: 0.6em;
    font-weight: normal;	
	margin-bottom:20px;	
    text-align: left;
}


#container {
	margin:auto;
	position: relative;
	text-align:left;
	width:930px;
	z-index:1;
}

#MakeHomePage {
	background:#fff;border:1px solid #333;font-size:1.3em;line-height:1.8em;color:#000;margin-top:25px;height:600px;
	}

#MakeHomePage p.heading{
	font-weight:bold;
	font-size:1.4em;
	color:#e96d08;
	}
	
	#MakeHomePage a{
	color:#e96d08;
	text-decoration:none;
	}
	
#MakeHomePage li{
line-height:1.8em;color:#000;margin-left:20px;
	}

#closeButton {
	float:right;
	margin:5px;
}

#closeButton a {
	background:url('http://static.extrabux.com/images/icons/transfer-close.gif') no-repeat center center; 
	height:20px;
	width:20px;
	display:block;
}
	
.space{
margin-left:2px;	
}

#header {width:930px;height:100px;border:0px solid #000; float:left;position:relative;}
#header-beesavy-logo {
	position:absolute;
	float:left;
	width:356px;
	bottom:0px;
	border:0px solid #03F;
}

#facebook{
	position:absolute;
	width:35px;
	height:20px;
	float:left;
	margin-left:355px;
	bottom:20px;
	margin-top:70px;
	border:0px solid #03F;
}

#tweeter{
	position:absolute;
	width:35px;
	height:20px;
	margin-left:389px;
	float:left;
	bottom:20px;
	border:0px solid #03F;
}

#youtube{
	position:absolute;
	width:34px;
	height:30px;
	float:left;
	bottom:10px;
	margin-left:422px;
	border:0px solid #03F;
}

#header-links {
	float:right;
	font-size:1.2em;
	font-weight: normal;
	margin-top:4px;
	padding:0px;
	width:470px;
	border:0px solid #C06;

}

#header-links1 {
	float:right;
	font-weight: normal;
	margin-top:17px;
	padding:0px;
	width:100%;
	border:0px solid #C06;
	height:19px;
}

#header-links1 a {
	float:right;	
	outline:none;
	font-weight:normal;
	color:#000;
	border:0px solid #C06;
}
#header-links a.login {
	background: url('../images/icons/login-plus.gif') no-repeat 10px center;
	color:#000;
	font-weight:bold;
	width:45px;	
	padding-left:25px;
	border: 0px solid #000;
}

#header-links .header-login {
	border: 0px solid #000;
	border-bottom: 0px solid #FFF;
	color:#000;
	font-weight:bold;
	width:60px;
}

#header-links a.loginOpen {
	background: url('../images/icons/login-minus.gif') no-repeat 10px center;
	color:#000;font-weight:bold;
	padding-left:25px;
	width:50px;
	text-decoration:underline;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
}
.headerLinksOpen { background:url('../images/login-bg.gif') repeat-x top;margin-right:0px;}

.welcome{ color:#000;float:right;width:125px;border:0px solid #000;}
#header-links a.myaccount {	color:#e86800;font-weight:bold;border:0px solid #6F0;width:72px;}
#header-links a.join-now {	color:#e86800;font-weight:bold;border:0px solid #6F0;width:60px;}
#header-links a.signup { color:#000;width:80px;font-weight:bold;}
#header-links1 a.help { float:right;color:#767675; font-weight:bold;width:35px;border:0px solid #6F0;}
#header-links a:hover { text-decoration:underline; }
#header-links a.shopping-blog {	width:93px;	height:20px;color:#000;font-weight:bold;}
#header-links a.logout {color:#000;width:48px;font-weight:bold;}
#header-links a.tm-marketplace {color:#767675;width:97px;border:0px solid #6F0;font-weight:bold;}
.orange {color:#e86800;} 
.header-links-dot {float:right;width:15px;}
.header-dot { background:url("../images/dot.gif");float:left;width:6px;height:6px;margin-top:5px;}
#banner-leaderboard {float:right;margin-top:0px;width:435px;height:62px;border:0px solid #0F0;margin-right:0px;}
#nav {width:930px;height:42px;float:left;margin-top:2px;margin-bottom:4px}
#nav-left-curve {float:left; width:8px;height:42px;}
#nav-ShopByCategory-bt {float:left; width:140px; height:40px;margin:0px 0 0 10px;}
#nav-SearchLabel {float:left; width:114px;height:40px;margin:0px 0 0 10px;}
#nav-FindCoupons-Bt {float:left; width:114px;margin:6px 0 0 0px;}
#nav-search-form-image {float:left;	margin:5px 0 0 -5px;border:0px solid #6F0;}
#nav-search {	float:left;	height:42px;margin:0px 0 0 5px;}
#nav-search-input {	float:left;	height:32px;margin:5px 0 0 5px;}
#nav-search .input-box { background: url('../images/nav-searchBg.jpg') no-repeat top left;border:0;font-size:1.8em;float:left;outline:0;padding:5px 0 0 5px;width:300px;}

#nav-search .input-focus { color:#252525; }
#nav-right-curve {float:right; width:8px;}
.nav-bg { border:0px solid #600;background: url('../images/nav_bg.jpg') repeat-x 0;margin-top:2px;}
#nav-topStore-bt {float:left; width:160px; height:40px;margin:0px 0 0 10px;}
#loginBoxContainer {
	float:right;
	width:415px;
	border:0px solid #F00;
	margin-left:-10px;
}
#loginBox {
	clear:right;
	float:right;
	margin:5px 0 0 0;
	width:415px;
	border:0px solid #0C0;
	margin-right:0px;
}

#loginBox #labelEmail
 {
	color:#252525;
	float:left;
	font-size:11px;
	font-weight:bold;
	margin-right:5px;
	width:100px;
	text-align:left;
}


#loginBox #labelPass {
	color:#252525;
	float:left;
	font-size:11px;
	font-weight:bold;
	margin-right:2px;
	width:85px;
	height:20px;
	text-align:left;
}



.questionmark{
	color:#000;
	width:20px;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	margin-top:0px;
}

#loginBox #labelRemember {
	float:right;
	font-weight:bold;
	padding-right:5px;
	height:25px;
	line-height:25px;
}

#loginBox #labelEmail { width:180px; }

#loginBox #inputEmail,
#loginBox #inputPass {
	background: #E8E8E8 url('../images/login-input-bg.gif') repeat-x;
	border:1px solid #a2a2a2;
	float:left;
	font-size:13px;
	height:1.8em;
	margin-right:5px;
	padding:.25em 0 0 .25em;
	width:125px;
}

#loginBox #inputEmail { width:175px; }

#loginBox #loginBtn { margin-left:5px; }

.loginBoxClose { display:none; }
.pipe { float:right; line-height:1.7em; color:#CCC; }

#fivePromo {
	background:url('http://static.extrabux.com/images/5-promo.png') no-repeat 0 -4px;
	width:288px;
	height:42px;
	display:block;
	clear:right;
	float:right;
	margin-right:184px;
}

/* -----------------------------------*/
/* --->>> CATEGORY DROPDOWN <<<-------*/
/* -----------------------------------*/

#catDropdown {

	border-top:none;
	margin-top:10px;
	clear:both;
	display:block;
	padding-left:4px;
	width:918px;
	height:80px;
	-moz-border-radius-bottomleft: 4px;
  	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomright: 4px;
  	-webkit-border-bottom-right-radius:4px; 

}

#catDropdown1 {
position:relative;
	background:#ffec9e;
	border:2px solid #fca13b;
	border-top:none;
	margin-top:-7px;
	clear:both;
	display:block;
	padding-left:4px;
	width:918px;
	height:60px;
	margin-bottom:2px;
}

#catDropdown li { 
	float:left; 
	margin:2px;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px; 
}

#catDropdown .col1 { width:125px; }
#catDropdown .col2 { width:205px; }
#catDropdown .col3 { width:145px; }
#catDropdown .col4 { width:150px; }
#catDropdown .col5 { width:150px; }
#catDropdown .col6 { width:98px; }
/*937*/
#catDropdown a:link, 
#catDropdown a:visited,
#catDropdown a:active { 
	background: #FFF url('../images/dropdown-bg-top.gif') repeat-x bottom; 
	border:1px solid #e96d08; 
	color:#252525;
	display:block;
	float:left;
	font-size:12px;
	font-weight:bold;
	height:2.6em;
	line-height:2.6em;
}

#catDropdown a { 
	background:#FFF;
	-moz-border-radius:2px;
	-webkit-border-radius:2px; 
}

#catDropdown a span { display: block; width:16px; height:16px; float:left; margin:7px 7px 0 7px; }

#catDropdown a:hover { 
	background: #FFF url('../images/dropdown-bg.gif') repeat-x bottom; 
	border:1px solid #d87608; 
	color:#e96d08; 
	text-decoration:underline; 
}

#catDropdown a #movies { background: url('../images/icons/dropdown.png')           0     0; display: block;     }
#catDropdown a #computers { background: url('../images/icons/dropdown.png')        0    -16px;  }
#catDropdown a #video { background:url('../images/icons/dropdown.png')            0    -32px;  }
#catDropdown a #electronics { background: url('../images/icons/dropdown.png')      0    -48px;  }
#catDropdown a #books { background: url('../images/icons/dropdown.png')            0    -64px;  }
#catDropdown a #garden { background: url('../images/icons/dropdown.png')             0    -144px; }
#catDropdown a #flowers { background: url('../images/icons/dropdown.png')          0    -96px;  }
#catDropdown a #toys { background: url('../images/icons/dropdown.png')             0    -112px; }
#catDropdown a #health { background: url('../images/icons/dropdown.png')           0    -128px; }
#catDropdown a #jewelry { background: url('../images/icons/dropdown.png')          0    -80px;  }
#catDropdown a #auto { background: url('../images/icons/dropdown.png')             0    -160px; }
#catDropdown a #sports { background: url('../images/icons/dropdown.png')           0    -176px; }

#catDropdown a:hover #movies { background: url('../images/icons/dropdown.png')     16px  0;    }
#catDropdown a:hover #computers { background: url('../images/icons/dropdown.png')  16px -16px; }
#catDropdown a:hover #video { background:url('../images/icons/dropdown.png')      16px -32px; }
#catDropdown a:hover #electronics { background: url('../images/icons/dropdown.png') 16px -48px; }
#catDropdown a:hover #books { background: url('../images/icons/dropdown.png') 	  16px -64px; }
#catDropdown a:hover #garden { background: url('../images/icons/dropdown.png') 	  16px -144px;}
#catDropdown a:hover #flowers { background: url('../images/icons/dropdown.png')    16px -96px; }
#catDropdown a:hover #toys { background: url('../images/icons/dropdown.png')       16px -112px;}
#catDropdown a:hover #health { background: url('../images/icons/dropdown.png')     16px -128px;}
#catDropdown a:hover #jewelry { background: url('../images/icons/dropdown.png')    16px -80px; }
#catDropdown a:hover #auto { background: url('../images/icons/dropdown.png')       16px -160px;}
#catDropdown a:hover #sports { background: url('../images/icons/dropdown.png')     16px -176px;}




/* -----------------------------------*/
/* ------->>> GLOBAL COLORS <<<-------*/
/* -----------------------------------*/

/* GREEN */
.green {color:#368000;} 

/* BLACK: #252525  */
.black {color:#252525;} 

/* ORANGE: #E86800 */ 
.orange {color:#e86800;} 

/* -----------------------------------*/
/* ->> BUTTON ROLLOVER TRANSPARENCY -<*/
/* -----------------------------------*/

.trans-85 {
	opacity: 0.85;  /* Modern Browsers, eg: Firefox, Safari, Opera, Chrome */
    filter: alpha(opacity = 85);  /* IE */
    -moz-opacity: 0.85;  /* Old Mozilla, eg: Netscape */
    -khtml-opacity: 0.85;  /* Old Safari */
    zoom: 1; /* Requires for IE if the element is not positioned relatively */
}

/* -----------------------------------*/
/* ------>>> GLOBAL NOTICES <<<-------*/
/* -----------------------------------*/

.message {
	color:#252525;
	margin:5px 0;
	font-size:1.4em;
	padding:10px 0;
	text-align:center;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
}

.message a {
	color:#252525;
	text-decoration:underline;
}

.message a:hover { text-decoration:none; }

.spaced { margin:15px; }

.info {
	background:#ffefa4;
	border: 1px solid #b69d29;
}

.error {
	background:#f3cccc;
	border: 1px solid #cb0000;
}

.success {
	background:#bce1a1;
	border: 1px solid #368000;
}

.notice {
	background:#d5e0f0;
	border: 1px solid #043c90;
}

/* -----------------------------------*/		
/* ---->>> CONTENT BACKGROUNDS <<<----*/
/* -----------------------------------*/


.BGNoCol { background: #efefef url('../images/global-bg-white.gif') repeat-y 0px 5px;float:left;margin-top:5px;width:930px;}
.BGLeftCol { background: #efefef url('../images/global-bg-gray.jpg') repeat-y;width:930px;float:left;margin-top:0px;}



/* -----------------------------------*/
/* -------->>> PAGE TITLES <<<--------*/
/* -----------------------------------*/

#pageTitle {
	background: url('../images/page-title-bg.gif') repeat-x;
	clear:both;
	display: block;
	height:56px;
	width:930px;

	float:left;
}

#pageTitle h1 {
	color: #252525;
	float:left;
	font-size:1.7em;
	font-weight:bold;
	border:0px solid #000;
	margin:19px 0 0 10px;
}

#pageTitleLeft {
	background: url('../images/page-title-left.gif');
	float:left;
	height:56px;
	width:6px;	
}

#pageTitleRight {
	background: url('../images/page-title-right.gif');
	float:right;
	height:56px;
	width:8px;
}



/* -----------------------------------*/
/* -------->>> /PAGE TITLES <<<--------*/
/* -----------------------------------*/

/* ---->>> PAGE TITLE NAVIGATION <<<----*/

#pageTitle #titleNav { float:right;}

#pageTitle #titleNav a:link,
#pageTitle #titleNav a:visited,
#pageTitle #titleNav a:active {
	background:#FFF;
	border:#ebebeb 1px solid;
	color:#252525;
	font-weight:bold;
	float:left;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
}

#pageTitle #titleNav a:hover { 
	background:#fee67e;
	border: 1px solid #e96d08;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
}

#pageTitle #titleNav a#active {
	border:1px solid #e96d08;	
	background:#f5a91a;
	color:#FFF;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
	
}

#pageTitle #titleNav.small a,
#pageTitle #titleNav.small span {
	font-size:1.1em;
	margin:15px 4px 0 0;
	padding-top:7px;
	padding-bottom:7px;
	width:1.55em;
	text-align:center;
}

#pageTitle #titleNav .pad {
	padding-right:9px;
	padding-left:7px;
	
}

#pageTitle #titleNav.medium a {
	font-size:1.2em;
	margin:14px 6px 0 0;
	padding:7px 8px;
}

#pageTitle #titleNav.large a {
	font-size:12px;
	margin:14px 6px 0 0;
	padding:8px 10px;
}

#pageTitle span.off {
	background:#FFF;
	border:#ebebeb 1px solid;
	color:#CCC;
	font-weight:bold;
	float:left;
	margin:15px 2px 0px;
	text-transform:uppercase;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
}


/* -----------------------------------*/
/* ------->>> GLOBAL FOOTER <<<-------*/
/* -----------------------------------*/


.ftrLeftCol { background: #e6e7e5 url('../images/ftrLC.jpg') no-repeat top left;}


#ftr {
	clear:both;
	color: #7d7d7d;
	padding:5px;
	width:266px;
	margin:0 auto;
	border:0px solid #0F0;
}

#ftr {
	clear:both;
	color: #7d7d7d;
	padding:10px;
	width:966px;
	margin:0 auto;
}

.socialMedia {
	float:right; 
	font-size:1.2em; 
	height:20px; 
	line-height:20px; 
	padding-left:21px;
	width:120px;
	border:0px solid #000; 
}

.facebook {
	background:url('../images/icons/facebook.png') left center no-repeat; 
}

.twitter {
	background:url('../images/icons/twitter.png') left center no-repeat; 
}


/* -----------------------------------*/
/* ------->>> /GLOBAL FOOTER <<<-------*/
/* -----------------------------------*/

/* -----------------------------------*/
/* ----->>> CASH BACK BURST <<<-------*/
/* -----------------------------------*/
 
.cashback-small {
	display:block;
	float:left;
	margin:15px 0 0 0;
}

.cashback-small a {
	display:block;
	width:93px;
}



.cashback-gray { background: url('coupons_files/cashback-small-gray.gif') no-repeat top left; }

.cashback-green {
	background: url('coupons_files/cashback-small-green.gif') no-repeat top left;
	font-weight:bold;
}
.click-small {
	display:block;
	float:right;
	margin:15px 0 0 0;
}

.click-small a{
width:153px;

}



.ClickBg-Gray { background: url('../images/ClickGray.gif') no-repeat top left; }

.ClickBg-Orange {
	background: url('../images/ClickOrange.gif') no-repeat top left;
	font-weight:bold;
	
}

.ClickShopNow-Orange {
	background: url('../images/btn-shop-now.gif') no-repeat top left;
	font-weight:bold;
	width:75px;
	text-align:center;
	margin-right:15px;
	float:right;
}

.click-small .value {
	color:#FFF;
	font-size:7.5pt;
	height:33px;
	letter-spacing:0px;
	line-height:29px;
	width:129px;
	text-align:center;
	display:block 	;
	border:0px solid #0F0;
	font-weight:bold;
}

.click-small .value-orange {
	color:#000;
	font-size:8pt;
	height:33px;
	letter-spacing:0px;
	line-height:29px;
	width:129px;
	text-align:center;
	display:block 	;
	border:0px solid #0F0;
	font-weight:bold;
}

.ShopStore-Gray { background: url('../images/ShopStore-gray.gif') no-repeat top left;float:right;width:80px; border:0px solid #00F;margin-top:17px;}

.ShopStore-Orange {
	background: url('../images/ShopStore-orange.gif') no-repeat top left;float:right;width:80px; border:0px solid #00F;;margin-top:17px;
	font-weight:bold;
	
}
.ShopStore-small .value {
	color:#FFF;
	font-size:7.5pt;
	height:33px;
	letter-spacing:0px;
	line-height:29px;
	width:79px;
	text-align:center;
	display:block 	;
	border:0px solid #0F0;
	font-weight:bold;
}

.ShopStore-small .value-orange {
	color:#000;
	font-size:8pt;
	height:33px;
	letter-spacing:0px;
	line-height:29px;
	width:79px;
	text-align:center;
	display:block 	;
	border:0px solid #0F0;
	font-weight:bold;
}

.ShopStore-value {
	color:#000;
	font-size:12px;
	height:33px;
	letter-spacing:0px;
	line-height:33px;
	width:33px;
	text-align:center;
	display: block;
	border:0px solid #0F0;
}

.cashback-small .value {
	color:#FFF;
	font-size:12px;
	height:33px;
	letter-spacing:0px;
	line-height:33px;
	width:33px;
	text-align:center;
	display: block;
	border:0px solid #0F0;
}
.store .cashback a{
color:#000;
font-size:1.4em;
font-weight:bold;
border:0px solid #000;
}

.click-value {
	color:#000;
	font-size:12px;
	height:33px;
	letter-spacing:0px;
	line-height:33px;
	width:33px;
	text-align:center;
	display: block;
	border:0px solid #0F0;
}
.cashback-small .value-orange {
	color:#000;
	font-size:12px;
	height:33px;
	letter-spacing:0px;
	line-height:33px;
	width:33px;
	text-align:center;
	display: block;
	border:0px solid #0F0;
}

.cashback-large .value {
	font-size:18px;
	letter-spacing:-1px;
	font-weight:normal;
	height:58px;
	width:55px;
	text-align:center;
	line-height:58px;
}

a.BtnComparePrices{
	color:#000;
	font-size:8pt;
	height:31px;
	letter-spacing:0px;
	line-height:30px;
	text-align:center;
	display:block;
	font-weight:bolder;
	z-index:1;
	position:relative;
}

a.BtnComparePrices:hover{
	font-weight:bolder;

}

a.BtnShopNow{
	color:#000;
	font-size:8pt;
	height:31px;
	letter-spacing:0px;
	line-height:30px;
	text-align:center;
	display:block;
	font-weight:bolder;

}

a.BtnShopNow:hover{
	font-weight:bolder;

}
.BottomSpace
{
padding-bottom:6px;	
}

.TopSpace
{
padding-top:0px;	
}

.desc h3 { margin-bottom:5px; }
.desc h3 a {
	color: #e96d08;
	font-size:12pt;
	font-weight:bold;
	margin-bottom:5px;
	text-decoration:underline;
}

.desc h3 a:hover { text-decoration:none; }

	.storecoupon {
		border: dashed 1px #6ebe42;
		color: #333;
		font-size: 11px; 
		line-height: 14px;
		padding: 5px 12px 5px 12px;
		margin: 0px 5px 0px 5px; 
		width: 76px;
		text-align: center;
		font-weight: bold;  
		display:block;
		float:left;
	}
	.storecouponbg {
		background: url('bgCouponBorder.png') transparent no-repeat right 8px;  
		border: none;
		width: 112px;
		padding: 0px;
		margin: 0px 8px 0px 0px; 
		display:block;
		float:left;
	}
	
	
	#error {
	HEIGHT: 250px
}
#error P {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px; COLOR: #252525; FONT-SIZE: 1.5em; FONT-WEIGHT: bold; PADDING-TOP: 20px
}
#error UL {
	MARGIN-LEFT: 45px; FONT-SIZE: 1.3em
}
#error LI {
	LIST-STYLE-POSITION: outside; HEIGHT: 1.5em; LIST-STYLE-IMAGE: url(../images/transfer-arrow.gif)
}
#error A {
	COLOR: #e96d08; TEXT-DECORATION: underline
}
#error A:hover {
	TEXT-DECORATION: none
}
