/* -----------------------------------*/
/* ------>>> TRANSFER PAGE <<<--------*/
/* -----------------------------------*/

#newsletter {
	background:#FFF url('../images/beesavy-logo1.gif') no-repeat 20px 12px;
	border: 1px solid #999;
	margin:0 auto;	
	margin-top:140px;
	margin-left:230px;
	width:800px;
	height:100%;
	float:left;
}

#newsletter .content{
	border: 0px solid #999;
	margin:0 auto;	
	float:left;
	padding:15px;
}

#newsletter .content_left{
	border: 0px solid #999;
	width:420px;
	float:left;
}

#newsletter p{
	border: 0px solid #999;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
	font-size:1.5em;
	color:#000;
}

#newsletter a{
	text-decoration:underline;
	color:#e96d08;
}

#newsletter h4 {
	font-weight:bold;
	font-size:3.0em;
	border:0px solid #000;
}

#transferWelcome {
	width:565px;
	margin:0 auto;
	margin-top:15px;
}

#transferWelcome h4 {
	font-weight:bold;
	font-size:1.4em;
}

#transferWelcome p {
	font-size:1.2em;
	line-height:1.4em;
	padding:5px 0;
}

#newsletter #title {
	clear:both;
	display: block;
	height:55px;
}

#newsletter #title img {
	float:right; 
	padding:45px 15px 0 0;
}

#newsletter #closeTransfer {
	color:#666; 
	float:right; 
	font-size:1.2em; 
	line-height:20px; 
	width:250px;
	margin-top:5px; 
	text-align:right;
}

#newsletter #closeButton {
	float:right;
	margin:5px;
}

#newsletter #closeButton a {
	background:url('http://static.extrabux.com/images/icons/transfer-close.gif') no-repeat center center; 
	height:20px;
	width:20px;
	display:block;
}

#newsletter h1 {
	color: #252525;
	float:right;
	font-size:1.4em;
	margin:0px; 
	display:inline;
	text-align:right;
	padding-right: 15px;
}

#newsletter h1.oneLine { padding-top:42px; }
#newsletter h1.twoLines { padding-top:7px; width:300px; }

#newsletter .thumb {
	border: 1px solid #e86800;
	float:left;
	margin:17px 0 0 20px;
	text-align:center;
	vertical-align:middle;
	width:125px;
	-moz-border-radius: 4px;
	-webkit-border-radius:4px;
}

#newsletter #productThumb {
	height:85px;
	padding-top:15px;
}

#newsletter #merchantThumb {
	height:50px;
	padding-top:15px;
}

#newsletter .div {
	background:url('../images/newsletter-div.gif') no-repeat top center;
	width:760px;
	height:6px;
	margin:100px 0px 0px 20px;
}

#newsletter #equation { 
	border:1px solid #cecece;
	width:415px;
	float:left;
	margin:17px 0 0 20px;
}

#newsletter #equation dl {
	height:60px;
	float:left;
	width:103px;
	text-align:center;
	border-right: 1px solid #cecece;
}

#newsletter #equation dt {
	color:#848484;
	font-size:1.0em;
	font-style:italic;
	padding:7px 0 2px 0;
}

#newsletter #equation dd {
	font-size:2.4em;
	color:#252525;
	letter-spacing:-2px;
}

#newsletter #equation dt.BeesavyPrice{
	font-size:1.1em;float:left;width:100px;margin-top:0px;color:#b2030a;font-weight:bold;	letter-spacing:0px;
}
#newsletter #equation dd.BeesavyPrice{
	font-size:2.4em;float:left;width:100px;margin-top:0px;color:#b2030a;font-weight:bold;	letter-spacing:0px;
}#newsletter #equation .base { text-decoration: line-through; }
#newsletter #equation .cashback { color:#e96d08; }

#newsletter #equation .grad-bg { background:url('../images/transfer-message-grad.gif') repeat-x bottom left; }

#newsletter #equation .priceMessage {
	background:#ffe57c;
	color:#363636;
	float:left;
	font-size:1.2em;
	width:415px;
	height:40px;
	line-height:40px;
	text-align:center;
}

.free-shipping-transfer {
	font-size:12px;
	letter-spacing:0;
	font-style:italic;
	font-weight:bold;
}

#newsletter #cashbackMessage {
	color:#323232;
	background:#e5e5e5;
	margin-top:15px;
	padding:10px 0;
	text-align:center;
	font-size:1.3em;
	border-top: 1px solid #cacaca;
}

#newsletter h2 {
	font-weight:bold;
	font-family:arial, verdana, sans-serif;
	font-size:20px;
	color:#e86800;
}

#newsletter #login {
	border-right: 1px dotted #000;
	clear:both;
	float:left;
	height:235px;
	margin-top:10px;
	margin-left:15px;
	padding:5px 10px 15px 10px;
	width:260px;
}

#newsletter #signup {
	float:left;
	height:235px;
	margin-top:10px;
	padding:5px 5px 15px 25px;
	width:260px;
}

#newsletter label,
#newsletter input[type=text],
#newsletter input[type=password] {
	float:left;
	clear:left;
}

#newsletter input[type=checkbox] {
	float:left;
	clear:left;
}

#newsletter input[type=image] {
	float:right;
	margin:10px 13px 0 0;
}

#newsletter label {
	color:#252525;
	font-size:14px;
	font-weight:bold;
	margin:8px 0 5px 0;
}

#newsletter input[type=text],
#newsletter input[type=password] {
	background:url('http://static.extrabux.com/images/login-input-bg-large.gif') repeat-x top center;
	border: 1px solid #919191;
	font-size:15px;
	height:1.8em;
	padding:5px 0 0 5px;
	width:240px;
}

#newsletter ul {
	margin-top:5px;
	margin-left:10px;
	border:0px solid #00F;
}

#newsletter ul li {
	font-size:1.0em;
	font-weight:normal;
	list-style: url('../images/transfer-arrow.gif') outside;
	margin-left:20px;

}

#newsletter #optOut {
	clear:both;
	color:#368000;
	font-size:1.3em;
	height:45px;
	line-height:45px;
	text-align:center;
}

#newsletter #optOut a,
#newsletter #optOut a:link,
#newsletter #optOut a:visited,
#newsletter #optOut a:active {
	color:#e86800;
	font-weight:normal;
	text-decoration:underline;
}

#newsletter #optOut a:hover {
	color:#e86800;
	text-decoration:none;
}

#newsletter #cashBackTransfer {
	background:#EEE; 
	width:415px; 
	text-align:center; 
	font-size:12px;
}

#newsletter #BeesavyTransfer {
	background:#fde175; 
	width:415px; 
	text-align:center; 
	font-size:12px;
}

#newsletter #BeesavyTransfer.tall {
	line-height:30px; 
	height:30px; 
}

#newsletter #cashBackTransfer.short {
	line-height:30px; 
	border-top: #CCC 1px solid; 
	height:30px; 
}

#newsletter #cashBackTransfer.tall {
	line-height:60px; 
	height:65px; 
}

#manualRedirect {
	width:600px;
	margin:0 auto;
	padding:3px 0;
	text-align:center;
}

#manualRedirect a {
	color:#666;
	font-size:1.1em;
}

#manualRedirect a:hover {
	text-decoration:underline;
}
