#sitemap {
  PADDING-BOTTOM: 10px;
  PADDING-LEFT: 10px;
  PADDING-RIGHT: 10px;
  PADDING-TOP: 10px;
}
#sitemap ul.sitemap-col {
  WIDTH: 33%;
  FLOAT: left;
}
#sitemap ul.sitemap-col li {
  PADDING-BOTTOM: 0;
  PADDING-LEFT: 50px;
  PADDING-RIGHT: 0;
  PADDING-TOP: 5px;
}
#sitemap ul.sitemap-col a {
  COLOR: #e96d08;
  FONT-SIZE: 12px;
}
