/* -----------------------------------*/
/* ------>>> TRANSFER PAGE <<<--------*/
/* -----------------------------------*/

#transfer {
  background: #fff url('../images/beesavy-logo.png') no-repeat 20px 12px;
  background-size: 300px auto;
  border: 1px solid #999;
  margin: 0 auto;
  margin-top: 140px;
  width: 600px;
}

#transferWelcome {
  width: 565px;
  margin: 0 auto;
  margin-top: 15px;
}

#transferWelcome h4 {
  font-weight: bold;
  font-size: 1.3em;
}

#transferWelcome p {
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 5px 0;
}

#transfer #title {
  clear: both;
  display: block;
  height: 55px;
}

#transfer #title img {
  float: right;
  padding: 45px 15px 0 0;
}

#transfer #closeTransfer {
  color: #666;
  float: right;
  font-size: 1.2em;
  line-height: 20px;
  width: 250px;
  margin-top: 5px;
  text-align: right;
}

#transfer #closeButton {
  float: right;
  margin: 5px;
}

#transfer #closeButton a {
  background: url('../images/icons/transfer-close.gif') no-repeat center center;
  height: 20px;
  width: 20px;
  display: block;
}

#transfer h1 {
  color: #252525;
  float: right;
  font-size: 1.4em;
  margin: 0;
  display: inline;
  text-align: right;
  padding-right: 15px;
}

#transfer h1.oneLine {
  padding-top: 42px;
}
#transfer h1.twoLines {
  padding-top: 7px;
  width: 300px;
}

#transfer .thumb {
  border: 1px solid #e86800;
  float: left;
  margin: 17px 0 0 20px;
  text-align: center;
  vertical-align: middle;
  width: 125px;
     -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#transfer #productThumb {
  height: 85px;
  padding-top: 15px;
}

#transfer #merchantThumb {
  height: 50px;
  padding-top: 15px;
}

#transfer .div {
  background: url('../images/transfer-div.gif') no-repeat top center;
  width: 570px;
  height: 6px;
  margin: 10px 0 0 10px;
}

#transfer #equation {
  border: 1px solid #cecece;
  width: 415px;
  float: left;
  margin: 17px 0 0 20px;
}

#transfer #equation dl {
  height: 60px;
  float: left;
  width: 103px;
  text-align: center;
  border-right: 1px solid #cecece;
}

#transfer #equation dt {
  color: #848484;
  font-size: 1.0em;
  font-style: italic;
  padding: 7px 0 2px 0;
}

#transfer #equation dd {
  font-size: 2.4em;
  color: #252525;
  letter-spacing: -2px;
}

#transfer #equation dt.BeesavyPrice {
  font-size: 1.1em;
  float: left;
  width: 100px;
  margin-top: 0;
  color: #b2030a;
  font-weight: bold;
  letter-spacing: 0;
}
#transfer #equation dd.BeesavyPrice {
  font-size: 2.4em;
  float: left;
  width: 100px;
  margin-top: 0;
  color: #b2030a;
  font-weight: bold;
  letter-spacing: 0;
}#transfer #equation .base {
  text-decoration: line-through;
}
#transfer #equation .cashback {
  color: #e96d08;
}

#transfer #equation .grad-bg {
  background: url('../images/transfer-message-grad.gif') repeat-x bottom left;
}

#transfer #equation .priceMessage {
  background: #ffe57c;
  color: #363636;
  float: left;
  font-size: 1.2em;
  width: 415px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.free-shipping-transfer {
  font-size: 12px;
  letter-spacing: 0;
  font-style: italic;
  font-weight: bold;
}

#transfer #cashbackMessage {
  color: #323232;
  background: #e5e5e5;
  margin-top: 15px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.3em;
  border-top: 1px solid #cacaca;
}

#transfer h2 {
  font-weight: bold;
  font-family: arial, verdana, sans-serif;
  font-size: 20px;
  color: #e86800;
}

#transfer #login {
  border-right: 1px dotted #000;
  clear: both;
  float: left;
  height: 235px;
  margin-top: 10px;
  margin-left: 15px;
  padding: 5px 10px 15px 10px;
  width: 260px;
}

#transfer #signup {
  float: left;
  height: 235px;
  margin-top: 10px;
  padding: 5px 5px 15px 25px;
  width: 260px;
}

#transfer label, #transfer input[type=text], #transfer input[type=password] {
  float: left;
  clear: left;
}

#transfer input[type=checkbox] {
  float: left;
  clear: left;
}

#transfer input[type=image] {
  float: right;
  margin: 10px 13px 0 0;
}

#transfer label {
  color: #252525;
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0 5px 0;
}

#transfer input[type=text], #transfer input[type=password] {
  background: url('../images/login-input-bg-large.gif') repeat-x top center;
  border: 1px solid #919191;
  font-size: 15px;
  height: 1.8em;
  padding: 5px 0 0 5px;
  width: 240px;
}

#transfer ul {
  margin-top: 5px;
  margin-left: 10px;
  border: 0 solid #00f;
}

#transfer ul li {
  font-size: 13px;
  font-weight: normal;
  list-style: url('../images/transfer-arrow.gif') outside;
  margin: 4px;
}

#transfer #optOut {
  clear: both;
  color: #368000;
  font-size: 1.3em;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

#transfer #optOut a, #transfer #optOut a:link, #transfer #optOut a:visited, #transfer #optOut a:active {
  color: #e86800;
  font-weight: normal;
  text-decoration: underline;
}

#transfer #optOut a:hover {
  color: #e86800;
  text-decoration: none;
}

#transfer #cashBackTransfer {
  background: #eee;
  width: 415px;
  text-align: center;
  font-size: 12px;
}

#transfer #BeesavyTransfer {
  background: #fde175;
  width: 415px;
  text-align: center;
  font-size: 12px;
}

#transfer #BeesavyTransfer.tall {
  line-height: 30px;
  height: 30px;
}

#transfer #cashBackTransfer.short {
  line-height: 30px;
  border-top: #ccc 1px solid;
  height: 30px;
}

#transfer #cashBackTransfer.tall {
  line-height: 60px;
  height: 65px;
}

#manualRedirect {
  width: 600px;
  margin: 0 auto;
  padding: 3px 0;
  text-align: center;
}

#manualRedirect a {
  color: #666;
  font-size: 1.1em;
}

#manualRedirect a:hover {
  text-decoration: underline;
}
