# app
debug: false

# resources
template_dir:     %root_dir%/views
log_dir:          %root_dir%/data/log
cache_dir:        %root_dir%/data/cache
assets_dir:       %root_dir%/assets
web_dir:          %root_dir%/web
twbs_dir:         %root_dir%/web/bower_components/bootstrap
legacy_cache_dir: %root_dir%/legacy/system/application/cache
temp_dir:         %root_dir%/data/temp

# storage
bucket_dir: %root_dir%/legacy/public
bucket_url: "" # relative url
# bucket_url: http://static0.beesavy.com # rotated

# twig
twig.path: %root_dir%/views

# assetic
assetic.path_to_web: %root_dir%/web
assetic.options:
  debug: false
  formulae_cache_dir: %root_dir%/data/cache/assetic
  auto_dump_assets: false

# monolog
monolog.logfile: %root_dir%/data/log/app_%date%.log

# reporting
reporting.cache_dir: %root_dir%/data/cache/reports
linkshare_security_token: 8a2fe0db57eb01d3da33c506c103ec99148c604e480ee8a90a756ed5049ce806
cj_developer_key: 00b9fcc0e776e331ea6fa3c394e0debafea79d05c9085a654c2e8da8ca35fdc429a37c7c30d0d70c8db81335b04e4b13b0bd3783162706bb337870048d0ef2f845/6c1874dd9281959f55e76e62f7173cc38913802b4949909a686c38efddd571ce694058b7ecddef8b48fd4287a48f1a3a9e45051c09d6415dc7d213140cb40ef9
pepperjam_publisher_api_key: 38e200f9c64df81f9eaf6fc38d1df40e311748469a357ed4e00e196011f2c0bb
shareasale_affiliate_id: 865250
shareasale_token: WNT6v2KpPO76cwtJ
shareasale_api_secret: DIl1id9n0MKtgz8xZXj2jq1z8DZrfm0q
impactradius_account_sid: IRkyr55C73NJ106685okFer5BmhLFqAuP1
impactradius_auth_token: fjG9mLxBfZZRHLH4tQ4vZh569ftUUxQ2

# dbal
db.options:
  driver:   pdo_mysql
  dbname:   DB_NAME
  host:     DB_HOST
  user:     DB_USER
  password: DB_PASSWORD
  charset:  utf8

# orm
orm.proxies_dir: %root_dir%/data/cache/doctrine
orm.default_cache: apc
orm.auto_generate_proxies: false
orm.em.options:
  cache_namespace: ~
  result_cache:
    driver: memcache
    host: localhost
    port: 11211
  mappings:
    - type: annotation
      namespace: App\Entity
      path: %root_dir%/src/App/Entity
      use_simple_annotation_reader: false

# user provider
user.provider:
  admin:
    - ROLE_ADMIN
    - 5FZ2Z8QIkA7UTZ4BYkoC+GsReLf569mSKDsfods6LYQ8t+a8EW9oaircfMpmaLbPBh4FOBiiFyLfuZmTSUwzZg==

# swiftmailer
# http://stackoverflow.com/questions/15093702/swiftmailer-completely-broken-for-smtp
swiftmailer.options:
  host: smtp.mailgun.org
  port: 587
  username: postmaster@beesavy.com
  password: SMTP_PASSWORD
  encryption: tls
  auth_mode: plain

# aws
# not used in production (using IAM role)
# suply in local.yml for dev
# aws.config:
#   key: ACCESS_KEY
#   secret: SECRET

# rakuten oauth2
rakuten_oauth2_url: https://api.rakutenmarketing.com/token
rakuten_oauth2_config:
  username: ~
  password: ~
  client_id: ~
  client_secret: ~
  scope: 3077380
