# app
debug: false

# resources
template_dir:     %root_dir%/views
log_dir:          %root_dir%/data/log
cache_dir:        %root_dir%/data/cache
assets_dir:       %root_dir%/assets
web_dir:          %root_dir%/web
twbs_dir:         %root_dir%/vendor/twbs/bootstrap
legacy_cache_dir: %root_dir%/legacy/system/application/cache

# twig
twig.path: %root_dir%/views

# assetic
assetic.path_to_web: %root_dir%/web
assetic.options:
  debug: false
  formulae_cache_dir: %root_dir%/data/cache/assetic
  auto_dump_assets: false

# monolog
monolog.logfile: %root_dir%/data/log/app_%date%.log

# popshops
popshops.public_key: 7otijzbtj2q6uv4hhlwcz58ua
popshops.catalog_keys:
  all_stores:  74762wn6w9utgw6khg2ta92gz
  hot_coupons: b0oe38oleq6ginsuaf78sj258
  hot_deals:   3lmudy8xyefrwgs3u67li8uft
popshops.entity_manager_key: orm.em
popshops.cache_dir: %root_dir%/data/cache/popshops
popshops.log_dir: %root_dir%/data/log
popshops.classnames:
  entity.merchant: App\Entity\Merchant
  entity.network: App\Entity\Network
  entity.product: App\Entity\Product
  entity.transaction: App\Entity\Transaction
  entity.payment: App\Entity\Payment

# dbal
db.options:
  driver:   pdo_mysql
  dbname:   DB_NAME
  host:     DB_HOST
  user:     DB_USER
  password: DB_PASSWORD
  charset:  utf8

# orm
orm.proxies_dir: %root_dir%/data/cache/doctrine
orm.em.options:
  mappings:
    - type: yml
      namespace: App\Entity
      path: %root_dir%/src/mappings

# user provider
user.provider:
  admin:
    - ROLE_ADMIN
    - PASSWORD_HASH

