# app
debug: false

# resources
template_dir:     %root_dir%/views
log_dir:          %root_dir%/data/log
cache_dir:        %root_dir%/data/cache
assets_dir:       %root_dir%/assets
web_dir:          %root_dir%/web
twbs_dir:         %root_dir%/vendor/twbs/bootstrap
legacy_cache_dir: %root_dir%/legacy/system/application/cache

# popshops
popshops.public_key: 7otijzbtj2q6uv4hhlwcz58ua
popshops.catalog_keys:
  all_stores:  74762wn6w9utgw6khg2ta92gz
  hot_coupons: b0oe38oleq6ginsuaf78sj258
  hot_deals:   3lmudy8xyefrwgs3u67li8uft

# dbal
db.options:
  driver:   pdo_mysql
  dbname:   DB_NAME
  host:     DB_HOST
  user:     DB_USER
  password: DB_PASSWORD
  charset:  utf8

# orm
orm.proxies_dir: %root_dir%/data/cache/doctrine
orm.em.options:
  mappings:
    - type: annotation
      namespace: App\Entity
      path: %root_dir%/src/App/Entity
    - type: yml
      namespace: App\Popshops
      path: %root_dir%/src/mappings

# user provider
user.provider:
  admin:
    - ROLE_ADMIN
    - PASSWORD_HASH

