<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Admin{% endblock %}</title>

    {% stylesheets '@styles' filter="?yui_css" output="assets/css/styles.css" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
    {% endstylesheets %}
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
