<VirtualHost *:80>
  ServerName beesavy.phpdevel.net
  DocumentRoot /project-root/legacy/public

  <Directory /project-root/legacy/public>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride None
    Order allow,deny
    allow from all

    AuthType Digest
    AuthName "client"
    AuthDigestProvider file
    AuthUserFile /project-root/.secrets
    Require user rehoner

    RewriteEngine On
    RewriteRule ^.git - [F,L]
    RewriteBase /
    RewriteCond %{ENV:REDIRECT_APP_PATH} !^$
    RewriteRule ^(.*)$ - [E=APP_PATH:%{ENV:REDIRECT_APP_PATH}]
    RewriteCond %{ENV:APP_PATH} ^$
    RewriteRule ^(.*)$ - [E=APP_PATH:/$1]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^projects
    RewriteRule ^(.*)$ index.php [L]
  </Directory>
</VirtualHost>

<VirtualHost *:80>
  ServerName beesavyadm.phpdevel.net
  DocumentRoot /project-root/web

  <Directory /project-root/web>
    AllowOverride all

    AuthName "client"
    AuthDigestProvider file
    AuthUserFile /project-root/.secrets
    Require user rehoner
  </Directory>
</VirtualHost>
